---
name: Continuous Integration

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install with NPM
        id: installation
        run: |
          npm ci --no-optional
      - name: Run Tests
        id: testing
        run: |
          npm run test:ci

      - name: Upload Artifacts
        id: upload-artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: coverage
