name: Coverage Report

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed

jobs:
  coverage:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    permissions:
      actions: read
      pull-requests: write
      contents: read
    steps:
      - name: Download Coverage Artifact
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ github.event.workflow_run.id }}
        run: gh run download $RUN_ID -n artifacts -D coverage

      - name: Comment on PR
        uses: Nef10/lcov-reporter-action@v0.4.0
        with:
          lcov-file: ./coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-number: ${{ github.event.workflow_run.pull_requests[0].number }}
          delete-old-comments: true
